{% extends "base.html" %}

{% block content %}
    <a href="{% url "articles:new" %}">NEW</a>
    <hr>
    {% for article in articles %}
        <h1>{{ article.pk }}</h1>
        <p>{{ article.title }}</p>
        <p>{{ article.content }}</p>
        <a href="{% url "articles:detail" article.pk %}">[detail]</a><br>
        <a href="{% url "articles:edit" article.pk %}">EDIT</a>
        <form action="{% url "articles:delete" article.pk %}">
            <button type="submit">DELETE</button>
        </form>
    {% endfor %}
    
{% endblock content %}